.services{
    height: 120vh;
    background: url("../../images/pink\ gaming.png")  no-repeat center center;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     display: block;
     background-attachment: fixed;
     
}

.servicesHead{
    width: 100%;
    text-align: center;
    padding: 20px;

}

.servicesWrapper{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Service{
    width: 90%;
    height: 90%;
    background-color: hwb(0 0% 100% / 0.650);
    border-radius: 10px;
    box-shadow: 4px 10px 40px 0 #B200AB;
    color: grey;
    padding: 15px;
    overflow-y: scroll;
}





.Servicehead{
    font-size: 2rem;
    margin-bottom: 5px;
}

.icon{
    background-color: #B200AB;
    width: 25%;
    height: 25%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img{
    width: 90%;
    height: 90%;
}






@media screen and (max-width:1000px) {
    .services{
        height: 100%;
    }
    
    .servicesWrapper{
        grid-template-columns: repeat(2, 1fr);
        height: 90%;
    
        }
}

@media screen and (max-width:700px) {

    .icon{
        width: 15%;
    }

    .services {
        padding: 0 5px;
    }
    .services{
        height:100%;
    }
    .servicesWrapper{
    grid-template-columns: repeat(1, 1fr);

    }

    .Service{
        width: 100%;
    }
}